h1, h2, h3, h4, h5, h6, p {
 color: #454545;
}

h1, h2, h3, h4, h6 {
  font-weight: bold;
 }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.hero {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.jumbotron {
  /* background-color: #FFC107; */
  /* background: #FFC107 no-repeat top center / cover; */
  background: #FFC107 url("/assets/images/hero-image.jpg") no-repeat fixed center / cover;
}

.btn-success {
  background-color: #FFC107;
  border: #FFC107;
  margin-bottom: 0!important;
  color: #454545;
}

.btn-success i {
  color: #454545;
}

.btn-success:hover, .btn-success:focus {
  background-color: rgb(221, 166, 0);
  border: rgb(221, 166, 0);
  color: #454545;
}

.save-btn {
  padding: .45em 1em;
}

.display-message {
  color: #bbbbbb;
}

@media (max-width: 400px) {
  .view-btn, .save-btn, .delete-btn {
    width: 100%;
    margin: 0 0 1em 0 !important;
  }
}

